.md-theme-light {
    background-color: #333!important;
}

md-list-item {
    background-color: #d3d3d3;
}

.md-list-item-text {
    margin-bottom: 10px!important;
}


/*.textStuff p {
    height: 200px;
}*/

.textStuff .form-control {
    height: inherit;
}

#textAngular-editableFix-010203040506070809 {
    visibility: hidden;
}